body{
    display : grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap : 0;
    position : relative;
    background-color: black;
    margin : 0;
    padding  :0;
    overflow : hidden;
    height : 100vh;
}
#container{
    height : 2400px;
    width : 290px;
    background-color : rgba(0, 0, 0, 0.1);
    margin : 0px;
}
.item{
    height : 500px;
    width : 290x;
    background-color: rgba(255, 255, 255, 0.1);
    margin : 40px 25px;
}
.hidden{
    transform: translateY(-100%);
    transition : all 2s;
    opacity  : 0;
    filter : blur(10px);
}
.show{
    transform : translateY(-50%);
    opacity : 1;
    filter : blur(0);
}